In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('JSP_data.csv')
df2 = pd.read_csv('JSP_data_2.csv')

In [22]:
df2[df2['instance'].isnull() == False]

,Unnamed: 0,instance,max_time,postprocessing,version,num_reads,num_feasible,num_optimal,number_of_jobs,number_of_tasks,...,qpu_readout_time_per_sample,qpu_access_time,qpu_access_overhead_time,qpu_programming_time,qpu_delay_time_per_sample,post_processing_overhead_time,total_post_processing_time,is_cut_out,window_size,window_start
352,352,ft02.txt,14,False,discrete,12,12,0,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,353,ft03.txt,8,False,discrete,12,12,12,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,354,ft04.txt,16,False,discrete,24,12,0,4,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,355,ft05.txt,33,False,discrete,12,12,0,5,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,356,ft06.txt,89,False,discrete,12,12,0,6,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,357,ft02.txt,14,False,discrete,24,12,0,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,358,ft03.txt,8,False,discrete,12,12,12,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,359,ft04.txt,14,False,discrete,15,15,0,4,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,360,ft05.txt,34,False,discrete,12,12,0,5,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,361,ft06.txt,79,False,discrete,22,22,0,6,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df[df['instance'].isnull() == False]

,Unnamed: 0,instance,max_time,postprocessing,version,num_reads,num_feasible,num_optimal,number_of_jobs,number_of_tasks,...,qpu_anneal_time_per_sample,qpu_delay_time_per_sample,qpu_programming_time,qpu_readout_time_per_sample,qpu_sampling_time,total_post_processing_time,is_cut_out,window_size,window_start,is_squashed
0,0,ft03.txt,9,True,pyqubo,984,109,18,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ft03.txt,9,True,pyqubo,993,55,9,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ft03.txt,8,True,pyqubo,824,3,3,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ft03.txt,8,True,pyqubo,896,34,34,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ft03.txt,8,True,csp,907,250,11,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,ft03.txt,8,True,csp,971,278,42,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,ft03.txt,8,True,csp,965,455,148,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,ft03.txt,9,True,csp,999,340,3,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,ft03.txt,8,True,csp,903,534,9,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,ft03.txt,8,True,csp,982,510,57,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,ft03.txt,8,True,csp,910,238,69,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,ft03.txt,9,True,csp,995,190,2,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,ft03.txt,8,True,csp,978,347,53,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,ft03.txt,8,True,csp,957,225,63,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,ft03.txt,8,True,pyqubo,902,9,9,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,ft03.txt,8,True,pyqubo,826,28,28,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,ft03.txt,9,True,pyqubo,984,68,1,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,ft03.txt,9,True,pyqubo,969,125,7,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,ft03.txt,9,True,pyqubo,986,163,5,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,ft03.txt,9,True,pyqubo,984,125,10,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,ft03.txt,9,True,pyqubo,991,59,2,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,ft03.txt,8,True,pyqubo,746,42,42,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,ft03.txt,8,True,pyqubo,972,9,9,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,ft03.txt,9,True,pyqubo,9202,360,3,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,ft03.txt,8,True,pyqubo,6215,6,6,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,ft03.txt,7,True,pyqubo,2372,0,0,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,ft03.txt,9,True,pyqubo,9144,147,1,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,ft03.txt,8,True,pyqubo,6106,7,7,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,ft03.txt,8,True,pyqubo,6286,7,7,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,ft03.txt,9,False,pyqubo,10000,222,5,3,9,...,20.0,21.0,11056.0,204.0,2441000.0,18964.0,NaN,NaN,NaN,NaN
30,30,ft03.txt,9,False,pyqubo,10000,264,8,3,9,...,20.0,21.0,11080.0,203.0,2437400.0,17030.0,NaN,NaN,NaN,NaN
334,334,ft02.txt,14,False,pyqubo,10000,2846,0,2,4,...,20.0,21.0,10980.0,203.0,2434400.0,12462.0,NaN,NaN,NaN,0.0
335,335,ft02.txt,9,False,pyqubo,10000,6,0,2,4,...,20.0,21.0,10741.0,198.0,2389400.0,2980.0,NaN,NaN,NaN,0.0
336,336,ft02.txt,14,False,pyqubo,10000,2176,0,2,4,...,20.0,21.0,10905.0,204.0,2440800.0,13063.0,NaN,NaN,NaN,0.0
337,337,ft02.txt,14,False,pyqubo,10000,2303,0,2,4,...,20.0,21.0,10931.0,198.0,2389400.0,11560.0,NaN,NaN,NaN,0.0
338,338,ft02.txt,14,False,pyqubo,10000,1264,0,2,4,...,20.0,21.0,10917.0,203.0,2434400.0,11223.0,NaN,NaN,NaN,0.0
339,339,ft03.txt,8,False,pyqubo,10000,47,10,3,9,...,20.0,21.0,10996.0,203.0,2438000.0,13227.0,NaN,NaN,NaN,0.0
340,340,ft03.txt,8,False,pyqubo,10000,19,11,3,9,...,20.0,21.0,11025.0,203.0,2437800.0,10307.0,NaN,NaN,NaN,0.0
341,341,ft03.txt,7,False,pyqubo,10000,3,3,3,9,...,20.0,21.0,10842.0,204.0,2444400.0,5192.0,NaN,NaN,NaN,0.0
342,342,ft03.txt,9,False,pyqubo,10000,150,2,3,9,...,20.0,21.0,11014.0,204.0,2444400.0,14187.0,NaN,NaN,NaN,0.0
343,343,ft03.txt,9,False,pyqubo,10000,166,4,3,9,...,20.0,21.0,10984.0,204.0,2444400.0,20224.0,NaN,NaN,NaN,0.0
344,344,ft03.txt,9,False,pyqubo,10000,95,3,3,9,...,20.0,21.0,11034.0,204.0,2444400.0,14101.0,NaN,NaN,NaN,0.0
345,345,ft03.txt,8,False,pyqubo,10000,17,8,3,9,...,20.0,21.0,10949.0,198.0,2389400.0,10755.0,NaN,NaN,NaN,0.0
346,346,ft03.txt,8,False,pyqubo,10000,37,9,3,9,...,20.0,21.0,10997.0,198.0,2389400.0,15309.0,NaN,NaN,NaN,0.0
347,347,ft03.txt,8,False,pyqubo,10000,16,2,3,9,...,20.0,21.0,10991.0,198.0,2389400.0,17888.0,NaN,NaN,NaN,0.0
348,348,ft03.txt,8,False,pyqubo,10000,35,18,3,9,...,20.0,21.0,10956.0,203.0,2434600.0,9503.0,NaN,NaN,NaN,0.0
349,349,ft04.txt,12,False,pyqubo,10000,0,0,4,16,...,20.0,21.0,11191.0,204.0,2444400.0,48138.0,NaN,NaN,NaN,0.0
350,350,ft04.txt,11,False,pyqubo,10000,0,0,4,16,...,20.0,21.0,11165.0,204.0,2444400.0,38077.0,NaN,NaN,NaN,0.0
351,351,ft04.txt,13,False,pyqubo,10000,0,0,4,16,...,20.0,21.0,11230.0,204.0,2444400.0,51510.0,NaN,NaN,NaN,0.0
352,352,ft04.txt,11,False,pyqubo,10000,0,0,4,16,...,20.0,21.0,11093.0,204.0,2444400.0,26586.0,NaN,NaN,NaN,0.0
353,353,ft04.txt,13,False,pyqubo,10000,0,0,4,16,...,20.0,21.0,11242.0,204.0,2444400.0,59084.0,NaN,NaN,NaN,0.0

In [52]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     406 non-null    int64
 1   instance                       10 non-null     object
 2   max_time                       406 non-null    int64
 3   postprocessing                 406 non-null    bool
 4   version                        406 non-null    object
 5   num_reads                      406 non-null    int64
 6   num_feasible                   406 non-null    int64
 7   num_optimal                    406 non-null    int64
 8   number_of_jobs                 406 non-null    int64
 9   number_of_tasks                406 non-null    int64
 10  is_squashed                    10 non-null     float64
 11  max_task_time                  406 non-null    int64
 12  mean_task_time                 406 non-null    float64
 13  heuristic                      406 non-null    bool
 14  optimal                        406 non-null    int64
 15  energy_best                    406 non-null    float64
 16  result_best                    202 non-null    float64
 17  chain_strength                 396 non-null    float64
 18  chain_break_method             396 non-null    object
 19  qpu_sampling_time              396 non-null    float64
 20  qpu_anneal_time_per_sample     396 non-null    float64
 21  qpu_readout_time_per_sample    396 non-null    float64
 22  qpu_access_time                396 non-null    float64
 23  qpu_access_overhead_time       396 non-null    float64
 24  qpu_programming_time           396 non-null    float64
 25  qpu_delay_time_per_sample      396 non-null    float64
 26  post_processing_overhead_time  396 non-null    float64
 27  total_post_processing_time     396 non-null    float64
 28  is_cut_out                     396 non-null    object
 29  window_size                    396 non-null    float64
 30  window_start                   396 non-null    float64
dtypes: bool(2), float64(16), int64(9), object(4)
memory usage: 92.9+ KB

In [74]:
from dwave.system import DWaveSampler, LeapHybridSampler, LeapHybridCQMSampler

qpu_advantage = DWaveSampler(solver={'topology__type': 'pegasus'})
qpu_2000q = DWaveSampler(solver={'topology__type': 'chimera'})
hybrid_bqm_sampler = LeapHybridSampler()
hybrid_cqm_sampler = LeapHybridCQMSampler()

print(hybrid_cqm_sampler.__dict__)
hybrid_cqm_sampler.properties

{'client': <dwave.cloud.client.hybrid.Client object at 0x154cbe160>, 'solver': CQMSolver(id='hybrid_constrained_quadratic_model_version1p'), '_properties': {'minimum_time_limit_s': 5, 'num_variables_multiplier': 0.000157411458, 'num_biases_multiplier': 4.65705646e-06, 'num_constraints_multiplier': 6.44385747e-09, 'maximum_time_limit_hrs': 24.0, 'maximum_number_of_variables': 5000, 'maximum_number_of_quadratic_variables': 15000000, 'maximum_number_of_biases': 750000000, 'maximum_number_of_constraints': 100000, 'parameters': {'time_limit': 'Maximum requested runtime in seconds.'}, 'supported_problem_types': ['cqm'], 'category': 'hybrid', 'version': '1.0', 'quota_conversion_rate': 1}}

{'minimum_time_limit_s': 5,
 'num_variables_multiplier': 0.000157411458,
 'num_biases_multiplier': 4.65705646e-06,
 'num_constraints_multiplier': 6.44385747e-09,
 'maximum_time_limit_hrs': 24.0,
 'maximum_number_of_variables': 5000,
 'maximum_number_of_quadratic_variables': 15000000,
 'maximum_number_of_biases': 750000000,
 'maximum_number_of_constraints': 100000,
 'parameters': {'time_limit': 'Maximum requested runtime in seconds.'},
 'supported_problem_types': ['cqm'],
 'category': 'hybrid',
 'version': '1.0',
 'quota_conversion_rate': 1}

In [75]:
import dimod
import networkx as nx
import dwave_networkx as dnx
import numpy as np
from dwave.system import LeapHybridSampler
problem_node_count = 300
G = nx.random_geometric_graph(problem_node_count, radius=0.0005*problem_node_count)
qubo = dnx.algorithms.independent_set.maximum_weighted_independent_set_qubo(G)
bqm = dimod.BQM.from_qubo(qubo)
# Find a good solution
sampler = LeapHybridSampler()       
sampleset = sampler.sample(bqm) 
sampleset.info

{'qpu_access_time': 0,
 'charge_time': 2991777,
 'run_time': 2991777,
 'problem_id': '8f14f855-801d-41ed-b5d4-abfd14a6bdec'}